# deps / build
node_modules
dist
.next
out
coverage
*.tsbuildinfo

# env / secrets
.env
.env.*
!.env.example

# tests / playwright
playwright-report
test-results
blob-report

# logs / OS
*.log
.pnpm-debug.log*
.DS_Store
Thumbs.db

# editors
.idea
.vscode/*
!.vscode/extensions.json
